<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudwise.archetype.dao.mapper.AirMapper">

    <resultMap id="BaseResultMap" type="com.cloudwise.archetype.dao.activerecord.Air">
            <id property="aid" column="aid" jdbcType="VARCHAR"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="color" column="color" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="NUMERIC"/>
            <result property="createId" column="create_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        aid,brand,color,
        level,model,price,
        create_id,create_time,update_time
    </sql>
</mapper>
